.footer{
    display: flex;
    justify-content: space-between;
   align-items: baseline;
    margin-top: 200px;
    background: black;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;

}

.logo-footer{
    width: 100px;
    height: auto;
   
}

.social{
    list-style: none;
}