@media (max-width:576px){
    .page-content{
        flex-direction: column;
        @include center;
        align-items: center;   
    }
.card .card-body .card-image-top{
    height: 10px;
    width: auto;
    margin-top: 50px;
}
.order-details{
    width: 90%;
}
.about-me-img1{
    width: 80%;
}
.about-me-img2{
    @include center;
    width: 80%;
}
.map{
    width: 90%;
    height: 400px;
   
}
.store{
    display: none;   
}
.contact-info{
    flex-direction: column;

    justify-content: center;
    display: flex;
    align-items: center;   
}
}